<div *ngIf="activeUser" class="section" id="create-update">

  <h3>Create and Update Schedules</h3>
  <input type="text" placeholder="Schedule Name" [(ngModel)]="name">
  <input type="number" [(ngModel)]="count">
  <input type="text" placeholder="Description" [(ngModel)]="description">
  <label for="tog">Check to make public</label>
  <input type="checkbox" id="tog" [(ngModel)]="vis" [ngModelOptions]="{standalone: true}">
  <button (click)="buildSchedule()">Build</button>

  <div *ngIf="(build && name && (count >= 0) && (count <= 15))">
    <p *ngIf="count > 0" class="buil">Enter subject and course code pairs</p>
    <ul class="list">
      <li *ngFor="let item of [].constructor(count); let i = index">
        <input type="text" placeholder="Subject" [(ngModel)]="subjectCodes[i]">
        <input type="text" placeholder="Course Code" [(ngModel)]="courseCodes[i]">
      </li>
    </ul>
  </div>

  <button (click)="createSchedule()">Create</button>
  <button (click)="updateSchedule()">Update</button>

  <div *ngIf="makeError">
    <p>{{makeError}}</p>
  </div>

</div>

<div *ngIf="activeUser" class="section" id="delete">

  <h3>Delete a Schedule</h3>
  <input type="text" placeholder="Schedule" [(ngModel)]="dname">
  <button (click)="deleteStart()">Delete</button>

  <div *ngIf="con">
    <input type="text" placeholder="Type 'yes' to Confirm" [(ngModel)]="del">
    <button (click)="deleteSchedule()">Confirm Delete</button>
  </div>

  <div *ngIf="delError">
    <p>{{delError}}</p>
  </div>

</div>

<div *ngIf="activeUser" class="section" id="review">

  <h3>Review a Course</h3>
  <input type="text" placeholder="Subject" [(ngModel)]="subject">
  <input type="text" placeholder="Course Code" [(ngModel)]="course">
  <input type="text" placeholder="Comment" [(ngModel)]="comment">
  <button (click)="reviewStart()">Post Review</button>

  <div *ngIf="rev">
    <input type="text" placeholder="Type 'yes' to Confrim" [(ngModel)]="view">
    <button (click)="reviewCourse()">Confirm Review</button>
  </div>

  <div *ngIf="revError">
    <p>{{revError}}</p>
  </div>


</div>
