<p>login works!</p>

<div *ngIf="(auth.isAuthenticated$ | async) || loggedIn">
  <button (click)="logout()">Logout</button>
</div>

<div *ngIf="!(auth.isAuthenticated$ | async) && !loggedIn">
  <p>Log in or sign up locally</p>
  <input type="text" placeholder="Email" [(ngModel)]="userEmail">
  <input type="text" placeholder="Password" [(ngModel)]="userPassword">
  <button (click)="login()">Login Locally</button>
  <p>Log in or sign up via third party authentication</p>
  <button (click)="loginA()">Login with Auth0</button>
</div>

<ul *ngIf="auth.user$ | async as user">
  <button (click)="register()">Register vis Auth0</button>
</ul>

<div *ngIf="error">
  <h5>{{error}}</h5>
</div>
