<div class="para">
  <p>This web application is designed to allow Western Students to easily build their schedules</p>
  <p>Unauthenticated users may browse for courses or view public schedules</p>
  <p>Login with the options below to create your own schedules</p>
</div>

<div *ngIf="(auth.isAuthenticated$ | async) || loggedIn">
  <button (click)="logout()">Logout</button>
</div>

<div *ngIf="!(auth.isAuthenticated$ | async) && !loggedIn" class="section">
  <h3>Login Locally</h3>
  <input type="text" placeholder="Email" [(ngModel)]="userEmail">
  <input type="password" placeholder="Password" [(ngModel)]="userPassword">
  <button (click)="login()">Login Locally</button>
  <h3>Login via Third Party</h3>
  <button (click)="loginA()">Login with Auth0</button>
</div>

<div *ngIf="newUser" class="section">
  <h3>Register as a New User</h3>
  <input type="text" placeholder="Email" [(ngModel)]="userEmail">
  <input type="password" placeholder="Password" [(ngModel)]="userPassword">
  <input type="text" placeholder="Username" [(ngModel)]="userName">
  <button (click)="register()">Register Locally</button>
</div>

<div *ngIf="done == 2">
  <button (click)="register()">Register via Auth0</button>
</div>

<div *ngIf="activeUser" class="section">
  <h3>Update Account Information</h3>
  <input type="text" placeholder="New Username" [(ngModel)]="newUserName">
  <input type="password" placeholder="Existing Password" [(ngModel)]="exPassword">
  <button (click)="updateUsername()">Update Username</button>
  <input type="password" placeholder="New Password" [(ngModel)]="newUserPassword">
  <input type="password" placeholder="Existing Password" [(ngModel)]="exPassword">
  <button (click)="updatePassword()">Update Password</button>
</div>

<div *ngIf="error">
  <p>{{error}}</p>
</div>
