li {
  margin: 5px;
}

p {
  text-align: center;
}

.list {
  text-align: center;
  column-count: 3;
  column-rule: 3px solid #dddddd;
}

.list-li {
  -webkit-column-break-inside: avoid;
  margin-bottom: 20px;
}

.review {
  font-size: 125%;
}

li span {
  display: inline-block;
}
