<div class="section" id="course-search">

  <h3>Search for Courses</h3>
  <input type="text" placeholder="Subject Code" [(ngModel)]="subject">
  <input type="text" placeholder="Course Number" [(ngModel)]="numb">
  <input type="text" placeholder="Catalog Number" [(ngModel)]="catalog">
  <button (click)="displayCourses()">Search Courses</button>
  <input type="text" placeholder="Keyword" [(ngModel)]="keyword">
  <button (click)="displayKey()">Search via Keyword</button>

  <div *ngIf="courseError">
    <p>{{courseError}}</p>
  </div>

  <div *ngIf="courseData && !expand">
    <p>Displaying search results</p>
    <button (click)="expandRes()">Expand</button>
    <ul class="list">
      <li *ngFor="let c of courseData">
        <span>{{c.subject_code}} - {{c.course_code}}: {{c.class_name}}</span>
        <span>Class section: {{c.class_section}}, {{c.component}} component</span>
        <ul>
          <li *ngFor="let t of c.times">
            <span>Day: {{t.day}}, {{t.start}} - {{t.end}}</span>
          </li>
        </ul>
      </li>
    </ul>
  </div>

  <div *ngIf="courseData && expand">
    <p>Displaying expanded search results</p>
    <ul class="list">
      <li *ngFor="let c of courseData">
        <span>{{c.subject_code}} - {{c.course_code}}: {{c.class_name}}</span>
        <span>Class section: {{c.class_section}}, {{c.component}} component</span>
        <ul>
          <li *ngFor="let t of c.times">
            <span>Day: {{t.day}}, {{t.start}} - {{t.end}}</span>
          </li>
        </ul>
        <span>Class number: {{c.class_number}}, Enrollment: {{c.enrollment}}</span>
        <span>Campus: {{c.campus}}, Classroom: {{c.classroom}}</span>
        <span>{{c.description}}</span>
        <span>{{c.long_description}}</span>
        <span>{{c.content}}</span>
        <ul class="review">
          <li *ngFor="let r of revData">
            <span *ngIf="r.subject_code == c.subject_code && r.course_code == c.course_code">Review by {{r.author}} on {{r.date_modified}} says: {{r.comment}}</span>
          </li>
        </ul>
      </li>
    </ul>
  </div>

</div>

<div class="section" id="schedule-search">

  <h3>Search for Schedules</h3>
  <button (click)="displaySchedules()">Show Schedules</button>

  <div *ngIf="scheduleError">
    <p>{{scheduleError}}</p>
  </div>

  <div *ngIf="scheData && !list">
    <p>Displaying a sample of public schedules</p>
    <ul class="list">
      <li *ngFor="let s of scheData">
        <span>Schedule: {{s.name}} by {{s.creator_name}}</span>
        <span>Last Modified: {{s.date_modified}}, contains {{s.course_count}} courses</span>
      </li>
    </ul>
    <button (click)="listRes()">Expand</button>
  </div>

  <div *ngIf="scheData && list && esData">
    <p>Displaying a sample of expanded public schedules</p>
    <ul class="list">
      <li *ngFor="let e of esData">
        <span>Schedule: {{e.name}} by {{e.creator_name}}</span>
        <span>Description: {{e.description}}</span>
        <ul>
          <li *ngFor="let c of e.classes">
            <span>Subject: {{c.subject_code}}, Course: {{c.course_code}}</span>
          </li>
        </ul>
      </li>
    </ul>
  </div>

</div>

<div class="section" id="timetable">

  <h3>Display Timetable</h3>
  <input type="text" placeholder="Schedule Name" [(ngModel)]="name">
  <button (click)="timetable()">View Timetable</button>

  <div *ngIf="timeError">
    <p>{{timeError}}</p>
  </div>

  <div *ngIf="timeData">
    <p>Timetable data for schedule: {{name}}</p>
    <ul class="list">
      <li *ngFor="let t of timeData">
        <span>Timetable data for {{t.subject_code}}: {{t.course_code}}</span>
        <span>Class number: {{t.number}}, Component: {{t.component}}</span>
        <ul>
          <li *ngFor="let i of t.times">
            <span>Day: {{i.day}}, {{i.start}} - {{i.end}}</span>
          </li>
        </ul>
      </li>
    </ul>
  </div>

</div>
